<div class="container">
  <div class="jumbotron h1 text-center">
     Jaloway Software
  </div>
  <div class="row">
    <div class="col"></div>
    <div class="col-md-4">
      <div>
        <div class="text-danger">
        </div>
        <!-- <button class="btn btn-primary btn-block" [routerLink]="['/login']">FR</button> -->
        <a class="btn btn-success  btn-block" href="https://app.jaloway.com/fr">FR</a>
        <hr>
        <a class="btn btn-info  btn-block" href="https://app.jaloway.com/personal">About Brandon</a>
        <hr>
        <a class="btn btn-primary  btn-block" href="https://gregdemary.com">Greg Demary Realtor</a>
        <hr>
        <a class="btn btn-warning  btn-block" href="https://truewestcraftworks.com">True West Craftworks</a>
        <hr>
        <a class="btn btn-danger  btn-block" href="https://www.novlr.com">Novlr</a>
      </div>
    </div>
    <div class="col"></div>
  </div>

</div>
